#root {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: opacity 1s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
}

.overlay-visible {
  opacity: 1;
}

.about-card {
  position: relative;
  background: white;
  border: 3px solid black;
  border-radius: 8px;
  transform-style: preserve-3d;
}

.about-card::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border: 3px solid black;
  background-color: rgb(255, 111, 0);
  bottom: -15px;
  right: -15px;
  border-radius: 8px;
  transform: translateZ(-1px);
  box-sizing: content-box; 
}

.contact-card {
  position: relative;
  background: white;
  border: 3px solid black;
  border-radius: 8px;
  transform-style: preserve-3d;
}

.contact-card::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border: 3px solid black;
  background-color: rgb(0, 160, 0);
  bottom: -15px;
  right: -15px;
  border-radius: 8px;
  transform: translateZ(-1px);
  box-sizing: content-box; 
}

.terms-card {
  position: relative;
  background: white;
  border: 3px solid black;
  border-radius: 8px;
  transform-style: preserve-3d;
}

.terms-card::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border: 3px solid black;
  background-color: rgb(51, 0, 255);
  bottom: -15px;
  right: -15px;
  border-radius: 8px;
  transform: translateZ(-1px);
  box-sizing: content-box; 
}

.card {
  position: relative;
  background: white;
  border: 3px solid black;
  border-radius: 8px;
  transform-style: preserve-3d;
  /* box-shadow: 4px 4px coral, 6px 6px olive, 8px 8px dodgerblue; */
}

.card::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border: 3px solid black;
  background-color: rgb(174, 0, 255);
  bottom: -15px;
  right: -15px;
  border-radius: 8px;
  transform: translateZ(-1px);
  box-sizing: content-box; 
}

.modeling-card {
  position: relative;
  background: white;
  border: 2px solid black;
  border-radius: 8px;
  transform-style: preserve-3d;
  /* box-shadow: 4px 4px coral, 6px 6px olive, 8px 8px dodgerblue; */
}

.modeling-card::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border: 2px solid black;
  background-color: rgb(152, 152, 152);
  bottom: -8px;
  right: -8px;
  border-radius: 8px;
  transform: translateZ(-1px);
  box-sizing: content-box; 
}

.modelingImage {
  border-radius: 50%;
  overflow: hidden;
  border-width: 2px;
  border-color: black;
}

.circleImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border-width: 2px;
  border-color: black;
}

.pattern-1 {
  background: #bdbcbc;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23e0e0e1' fill-opacity='0.15'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 80px 105px;
  background-attachment: fixed;
}

.pattern-2 {
  background: #f2994a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f2994a, #f2c94c); /* Chrome 10-25, Safari 5.1-6 */
  background:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23e0e0e1' fill-opacity='0.2'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E"),
  linear-gradient(to left, #f2994a, #f2c94c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pattern-3 {
  background: #964af2; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f2994a, #f2c94c); /* Chrome 10-25, Safari 5.1-6 */
  background:  url("/src/assets/purple-sun.svg"),
  linear-gradient(to left, #f2994a, #f2c94c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pattern-4 {
  background: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52' viewBox='0 0 52 52'%3E%3Cpath fill='%239C92AC' fill-opacity='0.25' d='M0 17.83V0h17.83a3 3 0 0 1-5.66 2H5.9A5 5 0 0 1 2 5.9v6.27a3 3 0 0 1-2 5.66zm0 18.34a3 3 0 0 1 2 5.66v6.27A5 5 0 0 1 5.9 52h6.27a3 3 0 0 1 5.66 0H0V36.17zM36.17 52a3 3 0 0 1 5.66 0h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 0 1 0-5.66V52H36.17zM0 31.93v-9.78a5 5 0 0 1 3.8.72l4.43-4.43a3 3 0 1 1 1.42 1.41L5.2 24.28a5 5 0 0 1 0 5.52l4.44 4.43a3 3 0 1 1-1.42 1.42L3.8 31.2a5 5 0 0 1-3.8.72zm52-14.1a3 3 0 0 1 0-5.66V5.9A5 5 0 0 1 48.1 2h-6.27a3 3 0 0 1-5.66-2H52v17.83zm0 14.1a4.97 4.97 0 0 1-1.72-.72l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1 0-5.52l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43c.53-.35 1.12-.6 1.72-.72v9.78zM22.15 0h9.78a5 5 0 0 1-.72 3.8l4.44 4.43a3 3 0 1 1-1.42 1.42L29.8 5.2a5 5 0 0 1-5.52 0l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1-.72-3.8zm0 52c.13-.6.37-1.19.72-1.72l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43a5 5 0 0 1 5.52 0l4.43-4.43a3 3 0 1 1 1.42 1.41l-4.44 4.43c.36.53.6 1.12.72 1.72h-9.78zm9.75-24a5 5 0 0 1-3.9 3.9v6.27a3 3 0 1 1-2 0V31.9a5 5 0 0 1-3.9-3.9h-6.27a3 3 0 1 1 0-2h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 1 1 2 0v6.27a5 5 0 0 1 3.9 3.9h6.27a3 3 0 1 1 0 2H31.9z'%3E%3C/path%3E%3C/svg%3E");  background-repeat: repeat;
}